<div class="jumbotron" id='homeJumbo'>
    <div class="flexBox" style="
    display: flex;
    flex-flow: row wrap;
    justify-content: center;">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
  </div>
</div>

<div class='container' id = "carouselDiv">
<carousel [interval]="2000">
  <slide>
    <img src="assets/cottage1.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/cottage2.jpg" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/nelppura1.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel>

</div>